@inherits RazorSliceHttpResult<List<ProductVm>>

<!DOCTYPE html>
<html lang="en">
<head>
    @(await RenderPartialAsync<Head>())
</head>
<body>
    @(await RenderPartialAsync<Navigation>())
    @(await RenderPartialAsync<Header>())
    @(await RenderPartialAsync<Products, List<ProductVm>>(Model))
    @(await RenderPartialAsync<Footer>())

    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/js/site.js"></script>
</body>
</html>