@inherits RazorSliceHttpResult<AdminNewProductVm>

<div id="content" class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Edit Product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <form hx-post="/admin/product/modal/new"
                          hx-target="#content"
                          hx-swap="none" novalidate>
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="name" name="name" value="@Model.Name" maxlength="255" required>
                            <div class="invalid-feedback">Please enter the product name.</div>
                        </div>

                        <div class="mb-3">
                            <label for="shortDescription" class="form-label">Short Description</label>
                            <input type="text" class="form-control" id="shortDescription" name="shortDescription" value="@Model.ShortDescription" maxlength="255">
                        </div>

                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <textarea class="form-control" id="description" name="description" rows="5">@Model.Description</textarea>
                        </div>

                        <div class="mb-3">
                            <label for="price" class="form-label">Price</label>
                            <input type="number" class="form-control" id="price" name="price" value="@Model.Price" >
                            <div class="invalid-feedback">Please enter a valid price.</div>
                        </div>

                        <div class="mb-3">
                            <label for="categoryId" class="form-label">Category</label>
                            <select class="form-select" id="categoryId" name="categoryDd" required>
                                <option value="0" selected>Select a category</option>

                                @foreach (var category in Model.AdminCategories!)
                                {
                                    <option value="@category.Id">@category.Name</option>
                                }

                            </select>
                            <div class="invalid-feedback">Please select a category.</div>
                        </div>

                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>

                        <input type="hidden" name="__RequestVerificationToken" value="@Model.AdminNewProductFormAntiForgeryToken" />
                    </form>
                </div>
               
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
</div>