@inherits RazorSliceHttpResult<CartVm>

<div id="cart-div" class="d-flex">
    <div class="dropdown">
        <button class="btn btn-outline-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
            <i class="bi-cart-fill me-1"></i>
            Cart
            <span class="badge bg-dark text-white ms-1 rounded-pill">@Model.CartQuantity</span>
        </button>
        <div class="dropdown-menu dropdown-menu-lg-end" style="min-width: 300px;">
            <div class="container">

                @if (Model.CartItems!.Any())
                {
                    <div class="row">
                        <div class="col text-center">
                            <strong>Your shopping cart</strong>
                        </div>
                    </div>

                    @foreach (var item in Model.CartItems!)
                    {
                        <div class="row">
                            <div class="col">
                                @item.Name
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                @item.Description
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                @item.Size
                            </div>
                            <div class="col">
                                @item.Price
                            </div>
                            <div hx-delete="/cart/delete/@item.Id" hx-target="#cart-div" role="button" class="col">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                                </svg>
                            </div>
                            <div class="col">
                                Quantity: @item.Quantity
                            </div>
                        </div>
                    }

                    <div class="row border-top">
                        <div class="col">
                            Total:
                        </div>
                        <div class="col">
                            @Model.Total
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <button hx-get="/shoppingcart"
                                    hx-target="#section"
                                    hx-push-url="true">
                                Shopping Cart</button>
                        </div>
                    </div>
                }
                else
                {
                    <h4>Your shopping cart is empty</h4>
                }

            </div>
        </div>
    </div>
</div>