@inherits RazorSliceHttpResult<CartVm>

<span id="cart-quantity" class="badge bg-dark text-white ms-1 rounded-pill" hx-swap-oob="true">
    @Model.CartQuantity
</span>

@if (Model.CartItems!.Any())
{
    <div class="row">
        <div class="col text-center">
            <strong>Your shopping cart</strong>
        </div>
    </div>

    @foreach (var item in Model.CartItems!)
    {
        <div class="row">
            <div class="col-4">
                <a href="/Product/@item.ProductId">
                    <img src="/products/@item.ProductId/@($"{item.ProductId}_thumbnail.webp")" alt="..." />
                </a>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col">
                        <a href="/Product/@item.ProductId">
                            @item.Name
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Størrelse: @item.Size
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        @item.Price
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div hx-delete="/cart/delete/@item.Id"
                     hx-target="#shopping-cart-dropdown"
                     role="button" class="col">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                    </svg>
                </div>
            </div>
        </div>
    }
    <div class="row pt-2 border-top">
        <div class="col">
            Levering:
        </div>
        <div class="col text-end">
            49.00 kr
        </div>
    </div>
    <div class="row border-top">
        <div class="col">
            Total:
        </div>
        <div class="col">
            @Model.CartTotal
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="/Checkout" class="btn btn-outline-dark flex-shrink-0 w-100" role="button">Checkout</a>
        </div>
    </div>
}
else
{
    <h4>Your shopping cart is empty</h4>
}