@inherits RazorSliceHttpResult<CartVm>

<section id="section" class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col">
                        <h1 class="mb-2">Your shopping cart (@Model.CartQuantity items)</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Will be sent Today!
                    </div>
                </div>
                @foreach (var item in Model.CartItems!)
                {
                    <div class="row border-bottom">
                        <div class="col">
                           Image
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    Brand
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    @item.Name
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    @item.Description
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    @item.Price
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    @item.Size
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <select hx-get="/cart/updatecartitemquantity/@item.Id" 
                                    hx-trigger="change"
                                    hx-target="#section"
                                    hx-include="[name='quantity']"
                                    name="quantity">
                                @for (int i = 1; i <= 10; i++)
                                {
                                    <option value="@i" @(item.Quantity == i ? "selected" : string.Empty)>@i</option>
                                }
                            </select>
                        </div>
                        <div class="col">
                            <div hx-delete="/cart/delete/@item.Id" hx-target="#cart-div" role="button" class="col">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                                </svg>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Cart Summary</h5>
                        <p class="card-text">
                            <strong>Subtotal:</strong> $40.00 <br>
                            <strong>Tax (5%):</strong> $2.00 <br>
                            <strong>Total:</strong> $42.00
                        </p>
                        <button class="btn btn-primary btn-block">Checkout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="header" hx-swap-oob="delete"></div>
</section>