@inherits RazorSliceHttpResult<CheckoutVm>

<section id="section" class="py-5">
    <div class="container-fluid" style="max-width: 1024px;">
        <div class="row">
            <div class="col">
                <div class="card border-0">
                    <div class="card-body">
                        <div id="cart-container" class="container">
                            @(await RenderPartialAsync<CheckoutUpdate, CheckoutVm>(Model))
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="border-0">
        <form id="submit-form" class="needs-validation" hx-post="/checkout/submit" hx-swap="afterend" hx-indicatior="#test-spinner" style="position: relative;" novalidate>
            <div class="row">
                <div class="col">
                    <div class="card border-0">
                        <div class="card-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <h4 class="mt-4 mb-4">1. Personoplysninger</h4>
                                    </div>
                                </div>
                                <hr class="border-1">
                                <div class="row">
                                    <div class="col">
                                        <h6 class="mb-3">Leveringsadresse</h6>
                                        @(await RenderPartialAsync<Address>())
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-check mt-4">
                                                    <input hx-get="/checkout/address-bill"
                                                           hx-trigger="change"
                                                           hx-target="#address-bill-div"
                                                           hx-include="[name='addressbillCb']"
                                                           hx-swap="innerHTML"
                                                           type="checkbox" name="addressbillCb" class="form-check-input excluded-input" autocomplete="off">
                                                    <label for="alternative-address" class="form-check-label excluded-label">Vil du sende til en alternativ leveringsadresse?</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="address-bill-div"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card border-0">
                        <div class="card-body">
                            <div class="container">
                                <h6 class="mb-3">Kontaktoplysninger</h6>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-floating mb-3">
                                            <input type="email" class="form-control" id="email" name="email" maxlength="100" pattern="^[a-zA-Z0-9.!#$%&’*+\/=?^_`\{\|\}~\-]+@@[a-zA-Z0-9\-]+(?:\.[a-zA-Z0-9\-]+)+$" required>
                                            <label for="email" class="form-label">E-mail *</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-floating mb-3">
                                            <input id="phone" inputmode="numeric" type="tel" maxlength="30" name="phone" autocomplete="tel" spellcheck="false" autocorrect="off" pattern="^[0-9]{8}$" required value="" class="form-control">
                                            <label for="phone" class="form-label">Mobilnummer (8 cifre) *</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-check mt-4">
                                    <input type="checkbox" id="newsletter" name="newsletter" class="form-check-input excluded-input" autocomplete="off">
                                    <label for="newsletter" class="form-check-label excluded-label">
                                        Tilmeld dig vores nyhedsbrev og få skræddersyede tilbud via e-mail med op til 50 % rabat på udvalgte varer.
                                    </label>
                                    <div class="mt-2">
                                        <small>
                                            Ved at tilmelde dig vores nyhedsbrev accepterer du vores <a href="/information/persondatapolitik" class="text-decoration-underline">persondatapolitik</a>, og du giver samtykke til, at vi må sende dig markedsføring via e-mail. Du kan trække dit samtykke tilbage når som helst.
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="border-0">
            <div class="row">
                <div class="col">
                    <div class="card border-0">
                        <div class="card-body">
                            <div class="container">
                                <h4 class="mb-3">2. Leveringsmuligheder</h4>
                                <hr class="border-1">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input excluded-input" type="radio" name="delivery" value="1" checked>
                                            <label class="form-check-label excluded-label">
                                                PostNord - Privatpakke Home med omdeling
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-6 text-end">
                                        49.00 kr
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="border-0">
            <div class="row">
                <div class="col">
                    <div class="card border-0">
                        <div class="card-body">
                            <div class="container">
                                <h4 class="mb-3">3. Betalingsmetode</h4>
                                <hr class="border-1">
                                <div class="row">
                                    <div class="col-5">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input excluded-input" type="radio" name="payment" value="1" checked>
                                            <label class="form-check-label excluded-label">
                                                Kreditkort, G Pay eller Apple Pay
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-5">
                                        <img src="/img/googlepay.webp" class="credit-card-img">
                                        <img src="/img/applepay.webp" class="credit-card-img">
                                        <img src="/img/mastercard.webp" class="credit-card-img">
                                        <img src="/img/maestro.webp" class="credit-card-img">
                                        <img src="/img/visa.webp" class="credit-card-img">
                                    </div>
                                    <div class="col-2 text-end">
                                        0 kr
                                    </div>
                                </div>
                                <hr class="border-1">
                                <div class="row">
                                    <div class="col d-flex justify-content-center align-items-center">
                                        <div class="p-3"> I alt at betale inkl. moms</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="col d-flex justify-content-center align-items-center">
                                            <strong>@Model.CheckoutTotal</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col d-flex justify-content-center align-items-center p-4">
                                        <div class="card bg-body-tertiary">
                                            <div id="submit-card" class="card-body">
                                               <div class="row">
                                                    <div class="col-2">
                                                        <div class="pt-3">
                                                            <div class="form-check">
                                                                <input id="consentCb" type="checkbox" class="form-check-input-lg excluded-input" autocomplete="off" required>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-10 px-3">
                                                        <label id="consent-lbl" class="form-check-label excluded-label" for="consentCb">
                                                            <span>Jeg har læst og accepteret @Model.ShopName</span><br /> <a href="#"><span>forretningsvilkår</span></a> <span>og</span> <a href="#"><span>persondatapolitik</span></a>
                                                        </label>
                                                    </div>
                                               </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col d-flex justify-content-center align-items-center">
                                        <button id="checkout-submit-btn" class="btn btn-lg btn-primary" type="submit">Gennemfør køb</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" name="__RequestVerificationToken" value="@Model.CheckoutFormAntiForgeryToken" />
        </form>
    </div>
    <div id="header" hx-swap-oob="delete"></div>
</section>