@inherits RazorSliceHttpResult<CheckoutVm>

<div class="row">
    <div class="col">
        <h1 class="pb-2">Kurv</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <h4 class="mt-4 mb-4">Ordreoversigt</h4>
    </div>
</div>
<div class="row border-bottom d-none d-md-flex d-lg-flex d-xl-flex d-xxl-flex">
    <div class="col-6">
        Produkt
    </div>
    <div class="col-4">
        Antal
    </div>
    <div class="col-2 text-end">
        Pris
    </div>
</div>
@foreach (var item in Model.CheckoutItems!)
{
    <div class="row pb-4 pt-4 border-bottom align-items-center d-none d-md-flex d-lg-flex d-xl-flex d-xxl-flex">
        <div class="col-6">
            <div class="row">
                <div class="col-4">
                    <a href="/Product/@item.ProductId" class="text-primary text-decoration-underline" style="cursor: pointer;">
                        <img class="img-fluid" src="/products/@item.ProductId/main/@($"{item.ProductId}_thumbnail.webp?v={item.TicksStamp}")" alt="..." />
                    </a>
                </div>
                <div class="pt-4 col-6">
                    <div class="row">
                        <div class="col">
                            <a href="/Product/@item.ProductId" class="text-primary text-decoration-underline" style="cursor: pointer;">
                                @item.Name
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Størrelse: @item.Size
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col-6">
                    <select id="quantityDd" hx-get="/checkout/update/@item.Id"
                            hx-trigger="change"
                            hx-target="#cart-container"
                            hx-include="this"
                            name="quantity" class="form-select">
                        @for (int i = 1; i <= 10; i++)
                        {
                            <option value="@i" @(item.Quantity == i ? "selected" : string.Empty)>@i</option>
                        }
                    </select>
                </div>
                <div class="col-6">
                    <div hx-delete="/checkout/delete/@item.Id"
                    @(Model.CheckoutItems.Count == 1 ? "hx-target=#section hx-swap=outerHTML" : "hx-target=#cart-container")
                         role="button" class="col">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2 text-end">
            @item.Price
        </div>
    </div>

    <div class="row border-bottom border-top align-items-center d-flex d-md-none d-lg-none d-xl-none d-xxl-none">
        <div class="col p-4 ">
            <div class="row">
                <div class="col-4">
                    <a href="/Product/@item.ProductId" class="text-primary text-decoration-underline" style="cursor: pointer;">
                        <img class="img-fluid" src="/products/@item.ProductId/main/@($"{item.ProductId}_thumbnail.webp?v={item.TicksStamp}")" alt="..." />
                    </a>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col">
                            <a href="/Product/@item.ProductId" class="text-primary text-decoration-underline" style="cursor: pointer;">
                                @item.Name
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Størrelse: @item.Size
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <select id="quantityDd" hx-get="/checkout/update/@item.Id"
                                    hx-trigger="change"
                                    hx-target="#cart-container"
                                    hx-include="this"
                                    name="quantity" class="form-select">
                                @for (int i = 1; i <= 10; i++)
                                {
                                    <option value="@i" @(item.Quantity == i ? "selected" : string.Empty)>@i</option>
                                }
                            </select>
                        </div>
                        <div class="col-6">
                            <div hx-delete="/checkout/delete/@item.Id"
                                @(Model.CheckoutItems.Count == 1 ? "hx-target=#section hx-swap=outerHTML" : "hx-target=#cart-container")
                                 role="button" class="col">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-start">
                            @item.Price
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-12 col-md-8">
    </div>
    <div class="col-12 col-md-4">
        <div class="row mt-2 mb-2">
            <div class="col">
                Forsendelse:
            </div>
            <div class="col text-end">
                49.00 kr
            </div>
        </div>
        <div class="row border-top py-2">
            <div class="col">
                <strong>Samlet pris:</strong>
            </div>
            <div class="col text-end">
                <strong>@Model.CheckoutTotal</strong>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col d-flex justify-content-between align-items-center">
                <div>
                    <span class="text-muted" style="font-size: 0.7rem;">Heraf moms:</span>
                </div>
                <div>
                    @Model.VAT
                </div>
            </div>
        </div>
    </div>
</div>