@inherits RazorSliceHttpResult<ProductVm>

<section id="section" class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <div class="row pb-2">
                    <div class="col">
                        <img id="main-img" class="card-img-top mb-5 mb-md-0" src="/products/@Model.Id/main/@($"{Model.Id}_product.webp?v={Model.TicksStamp}")" alt="..." />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <img src="/products/@Model.Id/main/@($"{Model.Id}_thumbnail.webp?v={Model.TicksStamp}")" class="img-fluid" role="button" onclick="changeImg(this)" />
                        @foreach (var img in Model.ProductImages!)
                        {
                            <img width="80" height="100" src="/products/@Model.Id/gallery/@($"{img.Id}_thumbnail.webp?v={img.TicksStamp}")" class="img-fluid" role="button" onclick="changeImg(this)" />
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col">
                        <h1 class="display-5 fw-bolder">@Model.Name</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="fs-5 mb-5">
                            <span>@Model.Price</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="lead">
                            @Model.Description
                        </p>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-2">
                        <span>Sizes:</span>
                    </div>
                    <div class="col-10">
                        @for (int i = 0; i < Model.ProductSizes!.Count; i++)
                        {
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="productSize" name="productSize" value="@Model.ProductSizes[i].Id" @(i == 0 ? "checked" : string.Empty)>
                                <label class="form-check-label">
                                    @Model.ProductSizes[i].Name
                                </label>
                            </div>
                        }
                        <input id="checkedSize" name="size" type="hidden" value="@Model.CheckedSizeId" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <input name="quantity" type="number" class="form-control" value="1" min="1" max="10">
                    </div>
                    <div class="col-8">
                        <button hx-get="/cart/add/@Model.Id"
                                hx-include="[name='size'], [name='quantity']"
                                hx-target="#cart-div"
                                hx-swap="outerHTML"
                                hx-indicator="#spinner"
                                class="btn btn-outline-dark flex-shrink-0 w-100">
                            <i class="bi-cart-fill me-1"></i>
                            <span class="button-text">Add to cart</span>
                        </button>
                    </div>
                    <div class="col-2 px-0 pt-1">
                        <div id="spinner" class="spinner-border spinner-border-sm htmx-indicator" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</section>

<script>
    var mainImg = document.getElementById('main-img');
    changeImg = (target) => {
        mainImg.src = target.src.replace('thumbnail', 'product');
    }
</script>