@inherits RazorSliceHttpResult<ProductVm>

<section id="section" class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." /></div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col">
                        <div class="small mb-1">SKU: BST-498</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h1 class="display-5 fw-bolder">@Model.Name</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="fs-5 mb-5">
                            <span class="text-decoration-line-through">$45.00</span>
                            <span>@Model.Price</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium at dolorem quidem modi. Nam sequi consequatur obcaecati excepturi alias magni, accusamus eius blanditiis delectus ipsam minima ea iste laborum vero?</p>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-1">
                        <span>Sizes:</span>
                    </div>
                    <div class="col">
                        @for (int i = 0; i < Model.ProductSizes!.Count; i++)
                        {
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="productSize" name="productSize" value="@Model.ProductSizes[i].Id" @(i == 0 ? "checked" : string.Empty)>
                                <label class="form-check-label">
                                    @Model.ProductSizes[i].Name
                                </label>
                            </div>
                        }
                        <input id="checkedSize" name="size" type="hidden" value="@Model.CheckedSizeId" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <input name="quantity" type="number" class="form-control" value="1" min="1" max="10">
                    </div>
                    <div class="col">
                        <button hx-get="/shoppingcart/add/@Model.Id"
                                hx-include="[name='size'], [name='quantity']"
                                hx-target="#cart-div"
                                hx-swap="outerHTML"
                                class="btn btn-outline-dark flex-shrink-0">
                            <i class="bi-cart-fill me-1"></i>
                            Add to cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>