@inherits RazorSliceHttpResult<ShopCartVm>

<section id="section" class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col">
                        <h1 class="mb-2">Your shopping basket (@Model.CartQuantity) items</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Will be sent Today!
                    </div>
                </div>
                @foreach (var item in Model.ShopCartItems!)
                {
                    <div class="row border-bottom">
                        <div class="col">
                           Image
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    Brand
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    @item.Name
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    @item.Description
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    @item.Price
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    @item.Size
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            Will be sent Today!
                        </div>
                        <div class="col">
                            Will be sent Today!
                        </div>
                    </div>
                }
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Cart Summary</h5>
                        <p class="card-text">
                            <strong>Subtotal:</strong> $40.00 <br>
                            <strong>Tax (5%):</strong> $2.00 <br>
                            <strong>Total:</strong> $42.00
                        </p>
                        <button class="btn btn-primary btn-block">Checkout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="header" hx-swap-oob="delete"></div>
</section>